.get-in-touch {
    max-width: 500px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  button {
    padding: 10px;
  }
  
  #success-message {
    text-align: center;
    margin-top: 10px;
    color: green;
  }
  